body{
			background-image: url('https://cdn.pixabay.com/photo/2019/06/06/16/02/technology-4256272__480.jpg');
			background-repeat:round;
			background-size: cover;
			background-attachment: fixed;
			align-content: left;
		}
label{
			color:black;
			font-style: italic;
			font-weight: bold;
	}
	
	.button{
			
			border: none;
			background-color: #00ffff;
			padding: 10px;
			size: 100;

	}

	.button1{
			border-radius: 12px;

		}


