{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Hi {{data.Name}} !</title>
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/format.css' %}">
</head>
<body style="color: white;">
	<br><br>
		
			<h3 style="font-size: 20px;font-style:initial;">Hello {{data.Name}}! You can check your details here</h3>
			<a style="background-color: #00ffff; cursor: pointer;text-decoration: none;color:black"  class="button button1" href="{% url 'another' data.Email  %}">CheckDetails</a>
			<div align="right">
			<a style="background-color: red; cursor: pointer;text-decoration: none;color:white;" class="button button1"  href="{% url 'login' %}">Logout</a></div>
			<br><br><br>
		<p style="font-style: initial;font-size: 20px;">Helping others is not only good for them and a good thing to do, it also makes<br> us happier and healthier too. Giving also connects us to others, creating<br> stronger communities and helping to build a happier society for<br> everyone. And it's not all about money- we can also give our time,<br> ideas and energy. So if you want <b style="font-style: italic;">to feel good, do good!</b> </p>

	<br><br>
	<br><br>
	<a style="background-color: #00ffff; cursor: pointer;text-decoration: none;color:black"  class="button button1" href="{% url 'seek' %}">PostYourNeeds</a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a style="background-color: #00ffff; cursor: pointer; text-decoration: none;color:black"  class="button button1" href="{% url 'help' %}">WantToHelpOthers</a>
	<br>
	<br>
	<br><br>
	

			


</body>
</html>