<!DOCTYPE html>
<html>
<head>
	<title>Required Data Page</title>
	<style>
		body{
			background-image: url('https://cdn.pixabay.com/photo/2017/10/14/17/57/computer-2851285__480.png');
			background-repeat:round;
			background-size: cover;
			background-attachment: fixed;
		}
		.button{
			
			border: none;
			background-color: purple;
			padding: 10px;
			size: 100;

		}
		.button1{
			border-radius: 12px;

		}
	</style>
</head>
<body>
	<h2 style="position: absolute;left: 250px; top:20px;" align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Required Data</u></h2>
	<table style="position: absolute;left: 290px; top:70px;" border="1" align="center" cellspacing="1" cellpadding="5">
		<tr>
		
			<th>Phone</th>
			<th>Item</th>
			<th>Quantity</th>

		</tr>

		{% for i in data %}
		<tr>

			
			<td>{{i.Phone}}</td>
			<td>{{i.Item}}</td>
			<td>{{i.Quantity}}</td>

		</tr>
		{% endfor %}
	</table>
	

	<form style="position: absolute;left: 850px; top:100px;" action="{% url 'help' %}" method="POST" align="center">
	{% csrf_token %}
	<br>
	<br>
	<center>
		<h3>For Donation</h3>
			<h2><u>Help Form</u></h2>
	</center>
		
		<label>Phone:&nbsp;</label>
		<input type="text" name="phone" placeholder="EnterNumber" required>
		<br><br>
		<label>Item:&nbsp;</label>
		<input type="text" name="item" placeholder="RequiredItem" REQUIRED>
		<br><br>

		<label>Quantity:&nbsp;</label>
		<input type="text" name="quan" placeholder="Quantity" REQUIRED>
		<br><br>

		<input style="background-color: black; cursor: pointer;color: white;"class="button button1" type="submit" value="SUBMIT">
	</form>
		





	

	<a style="background-color: black;color: white; cursor: pointer;text-decoration:none;"class="button button1" href="{% url 'home' %}">HOME</a>
</body>
</html>