<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<style>
		body{
			background-image: url('https://cdn.pixabay.com/photo/2016/05/17/19/08/hyacinth-1398839__480.jpg');
			background-repeat:round;
			background-size: cover;
			background-attachment: fixed;
		}
		.button{
			
			border: none;
			background-color: purple;
			padding: 10px;
			size: 100;

		}
		.button1{
			border-radius: 12px;

		}
	</style>
</head>
<body align="center" >

	<marquee><h1 style="color: white">Covid-Help Center Home Page</h1></marquee>
	<h2 style="position: absolute;left: 580px; top:100px; color: white;font-style: italic;" >"The purpose of life is not to be happy. It is to be<br> useful, to be honorable, to be compassionate,to have it<br> make some difference that you have lived and lived well."</h2>


<div align="right">
	<button  class="button button1" type="button" ><a  style="text-decoration: none;color: white" href="{% url 'register' %}">Registration</a></button>
	<br>
	<br>
	<button class="button button1" type="button"><a style="text-decoration: none;color: white" href="{% url 'login' %}">UserLogin</a></button>
	<br><br>
	<button class="button button1" type="button"><a style="text-decoration: none;color: white" href="{% url 'adminlogin' %}">AdminLogin</a></button>

</div>

</body>
</html>