{% load static %}
<!DOCTYPE html>

<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/format.css' %}">
</head>
<body align="left">
	<form action="{% url 'login' %}" method="POST" align="left">
	{% csrf_token %}
	<br><br><br>
	<h2 style="color: white; " ><u>Login Form</u></h2>
	<br>
	<br>
	<br>
	
		<label style="color: white">&nbsp;&nbsp;Email ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		<input style="border-style: initial;" type="text" name="mail" placeholder="Enter your Regd ID" required>
		<br><br>

		<label style="color: white">Password:&nbsp;</label>
		<input type="password" name="pass" placeholder="Enter your password" REQUIRED>
		<br><br>
		<input style="background-color: #00ffff; cursor: pointer;"  class="button button1" type="submit"value="LOGIN">
	</form>
	<br>
	<br>
	<br>
	<button  class="button button1" type="button" ><a  style="text-decoration: none;color:black" href="{% url 'home' %}">Home</a></button>
</body>
</html>