{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>REGISTRATION PAGE</title>
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/format.css' %}">
	
</head>
<body style="position: absolute;left: 150px; top:30px;">
	<form action="{% url 'register' %}" method='POST' align="left">
		{% csrf_token %}
		<br>
		<br>
		<br>
	
			<h2 style="color:white;font-style:italic;">&nbsp;&nbsp;&nbsp;&nbsp;<u>Registration Form</u></h2>
		
		<label style="color: white">Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		<input type="text" name="name" placeholder="Enter your Name" required>
		<br><br>
		<label style="color: white">Email-ID:</label>
		<input type="email" name="mail" placeholder="Enter your Mail-ID" required>
		<br><br>
		
		<label style="color: white">Password:&nbsp;</label>
		<input type="password" name="pass" placeholder="Enter your password" REQUIRED>
		<br><br>
		<label style="color: white">Address:&nbsp;&nbsp;&nbsp;</label>
		<input type="text" name="addr" placeholder="Enter your password" REQUIRED>
		<br><br>

		<label style="color: white">DOB:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		<input type="date" name="dob">
		<br>
		<br>
		<label style="color: white">Gender:&nbsp;&nbsp;&nbsp;&nbsp;</label>
		<select name="gender" style="color: black">
			<option>Male</option>
			<option>Female</option>
			<option>Other</option>
		</select>
		<br><br>
		<input style="background-color: #00ffff; cursor: pointer;position: absolute;left: 60px; top:360px;"  class="button button1" type="submit" value="Register">
		<br><br>
		<button style="position: absolute;left: 60px; top:420px;"  class="button button1" type="button" ><a  style="text-decoration: none;color: black;" href="{% url 'home' %}">Home</a></button>
	

	</form>
	<br>
	<br>
	<br>
	
	<br>
	
		
</body>
</html>