{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>SeekHelp</title>
	<style>
		body{
			background-image: url('https://cdn.pixabay.com/photo/2017/10/25/17/26/hands-2888625__480.jpg');
			background-repeat:round;
			background-size: cover;
			background-attachment: fixed;
		}
		.button{
			
			border: none;
			background-color: purple;
			padding: 10px;
			size: 100;

		}
		.button1{
			border-radius: 12px;

		}
		label{
			color: white;
		}
	</style>
</head>
<body>
	<form action="{% url 'seek' %}" method="POST" align="center" enctype="multipart/form-data">
	{% csrf_token %}
	<marquee style="color:white;font-size: 20px"><h3>Healing takes time, and asking for help is a courageous step</h3></marquee>
	<div align="right">
			<a style="background-color: red; cursor: pointer;text-decoration: none;color:white;" class="button button1"  href="{% url 'login' %}">Logout</a></div>
	<h3 style="font-style: italic;">"Asking for Help isn't Weak,its a Great Example of How to Take Care of Yourself"</h3>

	<center>
			<h2><u>SeekHelp Form</u></h2>
	</center>
		<label>Phone:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		<input type="text" name="phone"placeholder="Enter your mobileNo" required>
		<br><br>

		<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UploadPicture:</label>
		<input type="file" name="imag">
		<br><br>
		<label>NeededItem:&nbsp;</label>
		<input type="text" name="item" placeholder="RequiredItem" REQUIRED>
		<br><br>

		<label>Quantity:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		<input type="text" name="quan" placeholder="Quantity" REQUIRED>
		<br><br>

		<input style="background-color: lightgreen; cursor: pointer;"class="button button1" type="submit" value="SUBMIT">
	</form>
	<br>
	<br>
	{% if messages %}
	<ul class="messages" style="color: white;">
		{% for m in messages %}
		<li {% if messages.tags %} class="{{ m.tags }}" {% endif %}>{{m}}</li>
		{% endfor %}

	</ul>

	{% endif%}


</body>
</html>