<!DOCTYPE html>
<html>
<head>
	<title>Update Page</title>
</head>
<body align="center">
	<form method='POST' align="center">
		{% csrf_token %}
		<br>
		<br>
		<br>
		<center>
			<h2><u>Updation Form</u></h2>
		</center>
		<br><br>
		<label>Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		<input type="text" name="name" value="{{data.Name}}" placeholder="Enter your Name" required>
		<br><br>
		<label>Email-ID: &nbsp;</label>
		<input type="email" name="mail" value ="{{data.Email}}"placeholder="Enter your Mail-ID" required>
		<br><br>
		
		<label>Password:&nbsp;</label>
		<input type="password" name="pass" value="{{data.Password}}"  REQUIRED>
		<br><br>
		<label>Address:&nbsp;</label>
		<input type="text" name="addr" value="{{data.Address}}" REQUIRED>
		<br><br>
		<label>DOB:&nbsp;</label>
		<input type="date" name="dob" value="{{data.DOB}}"  REQUIRED>
		<br><br>
		<label>Gender:&nbsp;</label>
		<input type="text" name="gender" value="{{data.Gender}}"  REQUIRED>
		<br><br>
		<input style="background-color: dark" type="submit" value="Update">

	</form>
	<br>
	<br>
	<br>

		
</body>
</html>